<nav class="menu">
    <ul>
    {{ range .Site.Menus.nav  }}
        <li><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
        <!-- <li><a href="{{ .URL | relURL }}">{{ .Pre }}{{ .Name }}</a></li> -->
    {{ end }}
    </ul>
</nav>
